body{
    font-family: 'Noto Serif', serif;
    margin: 0;
}
.heading-top{
    font-size: 50px;
    padding-left: 10px;
    border-left: 3px solid #551a77;   
}
p{
    padding-bottom: 15px;
    margin-top: 5%;    
}
.heading-one{
    color: deepskyblue;
}
.section-container{
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;}
.top-sec{
    width: 50%;
    padding-left: 10%;
}
.top-sec img{
    width: 50%;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(violet, skyblue );
    color: cornsilk;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 15px;
}

.my-mission{
    margin: 5%;
}
.second-sec{
    width: 100%;
}
.second-sec-heading{
    
    text-align: center;
    font-size: 40px;
}
.mission-section{
    margin-left: 3%;
    margin-right: 3%;
}
.mission-item{
    width: 35%;    
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 5px 5px -15px gray;
    border-radius: 10%;
    padding: 2%;
}
.mission-item img{
    width: 100px;
}
#item-one{
    background-color: lightskyblue;
}
#item-two{
    background-color:burlywood ;
}
#item-three{
    background-color:pink ;
}
.develop-section{
    margin-top: -5%;
}
.develop-section img{
    width: 350px;
}
.dev-left img{
    height: 100%;
    width: 110%;
    margin-right: 0%;
}
.dev-right{
    width: 80%;
    margin-right: 15%;
    margin-left: -2%;
    margin-top: 5%;
}
.dev-right h1{
    margin: 0%;
    font-size: 30px;
}


footer{
    background-color: black;
}
footer h1{
    padding-top: 50px;
    text-align: center;
    color:whitesmoke

    
}
footer h5{
    text-align: center;
    color:gray;
    padding-bottom: 5%;
    
}
   
